<div class="panel panel-default">
	<div class="panel-body">
		<p>Thank you we have recieved your message and will respond soon.</p>
		<%= link_to "Home", controller:"static_pages", action: "landing_page"%>
	</div>
</div>