<div class="container">
  <h1><u>Products</u></h1>
  <div class="row product-row">
    <% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>
  </div><!--End products row-->
</div>


